$main-color:hsl(240, 100%, 5%);
$second-color:hsl(236, 13%, 42%);
$fourth-color:hsl(233, 8%, 50%);
$off-white:hsl(36, 100%, 99%);
$soft-orange:hsl(35, 77%, 62%);
$soft-red:hsl(5, 85%, 63%);
$p-size:15px;